name: CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  lint:
    name: Lint with Ruff
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: wntrblm/nox@2025.10.16
        with:
          python-versions: "3.14"

      - name: Run linting with nox
        run: nox -s lint

  test:
    name: Test with Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v4

      - uses: wntrblm/nox@2025.10.16
        with:
          python-versions: ${{ matrix.python-version }}

      - name: Run tests with nox
        run: nox -s tests-${{ matrix.python-version }}

  docs:
    name: Build Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4

      - uses: wntrblm/nox@2025.10.16
        with:
          python-versions: "3.14"

      - name: Build documentation with nox
        run: nox -s docs

      - name: Upload documentation artifacts
        uses: actions/upload-artifact@v4
        with:
          name: documentation
          path: docs/_build/html
